mixin featureItem(imageSrc, title, description)
  .feature-item
    img(src=imageSrc, alt=title)
    h3= title
    p= description

mixin testimonialItem(quote, author)
  .testimonial-item
    p= quote
    span= "- " + author